@import 'styles/variables';

.container {
    text-align: center;

    .gridViewButton {
        margin: 10px 0;
        background-color: rgb(103, 99, 99);
        color: white;
        border: white;
        border: 1px solid;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
            background-color: rgba(115, 114, 114, 0.8);
        }
    }
}