@import 'styles/variables';

.participant {
    background-color: white;
    color: white;
    font-size: 15px;
    width: 400px;
    height: 300px;
    margin: 20px;
    position: relative;
    cursor: pointer;

    .image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .name {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 5px 20px;
    }

    &:after:hover {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.bigParticipant {
    background-color: white;
    color: white;
    font-size: 15px;
    width: 1200px;
    height: 900px;
    margin: 20px;
    position: relative;
    margin: auto;

    .image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .name {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 5px 20px;
    }
}

.callGrid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "callScreen callScreen"
        "callScreen callScreen";
    width: 60%;
    vertical-align: top;
}

.recipeDisplay {
    display: inline-block;
    background: white;
    width: 40%;
    height: calc(100vh - 230px);
    padding: 10px;

    .heading {
        margin: 0;
    }

    .recipeContainer {
        height: calc(100% - 57px);
        overflow: hidden auto;
    }
}

.bottomPanel {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    .bottomPanelItem {
        display: inline-block;

        .bottomPanelButton {
            display: inline-block;
            background-color: white;
            color: black;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            margin: 10px;
            cursor: pointer;
            
            img {
                vertical-align: middle;
                margin-right: 10px;
            }

            &:hover {
                background-color: #f0f0f0;
            }
        }
    }
}